<h2>Here are your logged outfits!</h2>


<%@outfits.each do |outfit|%>
<div class="row">
<div class="card"><p id="date"><%=Helpers.reformat_date(outfit.date)%></p></div>

<%outfit.items.each do |item|%>
<div class="column">

<a href= "/items/<%=item.id%>"><img class="outfit-img" src=<%=item.image%> width=100%></a>

<p><a href="/items/<%=item.id%>"><%=item.name%></a></p>


</div>
<%end%>
</div>
<%end%>


<form action="/items" method=get>
<input type="submit" value="Back to your clobber">
</form>



