<h1>Here are your lovely outfits!</h1>

<%@outfits.each do |outfit|%>
<%date=Helpers.reformat_date(outfit.date)%>
<p><a href="/outfits/<%=outfit.id%>"><%=date%></a>  
<%outfit.items.each do |item|%>
<a href= "/items/<%=item.id%>"><img src=<%=item.image%> width=80></a>
<a href= "/items/<%=item.id%>"><%=item.name + "          "%></a>
<%end%>
<hr/>

<%end%>



