<h1>Make a New Outfit</h1>

<form action="/outfits" method="post">
<p>Date: <input type="date" id="date" name="date"
       value="<%=Time.now.strftime("%m/%d/%Y")%>"><p>

 <p>Your Items: 
 <br>
 <span class= "cards">
      <%@items.each do |item|%>

<label for id="checkbox<%=item.id%>"><img src=<%=item.image%> width=80></label>
<input type="checkbox"  id="checkbox<%=item.id%>" name="item_ids[]" value="<%=item.id%>">
            
            
      <%end%> 
      </span>
      
     
<br>
<hr>
<input type="submit" value="Add Outfit">     
</form>

<form action="/items" method="get">
<input type="submit" value="Back to your clobber">
</form>