<h1>Your outfit from <%=Helpers.reformat_date(@outfit.date)%> </h1>

<%@outfit.items.each do |item|%>
<a href="/items/<%=item.id%>"><img src="<%=item.image%>" width=80><%=item.name%>
<br>
<%end%>

<br>

<form action ="/outfits/<%=@outfit.id%>/edit" method = "post">
<input type="submit" value="Edit Outfit">
</form>
<br>

<form action ="/outfits/<%=@outfit.id%>" method = "post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Outfit">
</form>