<h1><%=@item.name%></h1>

<img src=<%=@item.image%> width=80>

<h3>Item Cost: £<%=@item.cost%></h3>
<h3>Item Category:</h3>
<h3>Times Worn: <%=@times_worn%></h3>
<h3>Cost per Wear: £<%=@cpw.round(2)%></h3>

<hr>

<h2>Outfit History</h2>
<%@item_outfits.each do |outfit|%>
<p><%=Helpers.reformat_date(outfit.date)%></p>
<%end%>


<hr>
<br>

<form action="/items/<%=@item.id%>/edit" method=post>
<input type="submit" value="Edit Item">
</form>

<form action="/items/<%=@item.id%>" method=post>
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Item">
</form>

<form action="/items" method=get>
<input type="submit" value="Back to your clobber">
</form>



