<h1><%=@item.name%></h1>

<img src=<%=@item.image%> width=80>

<h3>Item Cost: £<%=@item.cost%></h3>
<h3>Item Category: <%=@item.category%></h3>
<h3>Times Worn:</h3>
<h3>Cost per Wear:</h3>

<h2>Outfit History</h2>
<p>clickable list of dates here</p>

<form action="/items/<%=@item.id%>/edit" method=post>
<input type="submit" value="Edit Item">
</form>

<form action="/items/<%=@item.id%>" method=post>
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Item">
</form>

<form action="/items" method=get>
<input type="submit" value="Back to your clobber">
</form>



